.git
.github
.vscode
.env
.venv
__pycache__
*.pyc
announcements.db
credentials.json
filtered_messages.json
scraped_articles.json
Bing/history.json
Bing/memory.json
Bing/filtered_messages.txt
drivers
Trash
